@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@layer base {
  :root {
    --text-50: #eff2f6;
    --text-100: #dee4ed;
    --text-200: #becada;
    --text-300: #9dafc8;
    --text-400: #7c94b6;
    --text-500: #5c7aa3;
    --text-600: #496183;
    --text-700: #374962;
    --text-800: #253141;
    --text-900: #121821;
    --text-950: #090c10;

    --background-50: #f2f1f3;
    --background-100: #e5e4e7;
    --background-200: #cbc9cf;
    --background-300: #b1aeb7;
    --background-400: #97939f;
    --background-500: #7d7887;
    --background-600: #64606c;
    --background-700: #4b4851;
    --background-800: #323036;
    --background-900: #19181b;
    --background-950: #0c0c0e;

    --primary-50: #ebf0f9;
    --primary-100: #d7e0f4;
    --primary-200: #b0c2e8;
    --primary-300: #88a3dd;
    --primary-400: #6184d1;
    --primary-500: #3966c6;
    --primary-600: #2e519e;
    --primary-700: #223d77;
    --primary-800: #17294f;
    --primary-900: #0b1428;
    --primary-950: #060a14;

    --secondary-50: #f3f1f4;
    --secondary-100: #e7e2e9;
    --secondary-200: #cec5d3;
    --secondary-300: #b6a9bc;
    --secondary-400: #9d8ca6;
    --secondary-500: #856f90;
    --secondary-600: #6a5973;
    --secondary-700: #504356;
    --secondary-800: #352c3a;
    --secondary-900: #1b161d;
    --secondary-950: #0d0b0e;

    --accent-50: #f3f0f4;
    --accent-100: #e6e2e9;
    --accent-200: #cdc4d4;
    --accent-300: #b4a7be;
    --accent-400: #9c8aa8;
    --accent-500: #836c93;
    --accent-600: #695775;
    --accent-700: #4e4158;
    --accent-800: #342b3b;
    --accent-900: #1a161d;
    --accent-950: #0d0b0f;
  }
  .dark {
    --text-50: #090c10;
    --text-100: #121821;
    --text-200: #253141;
    --text-300: #374962;
    --text-400: #496183;
    --text-500: #5c7aa3;
    --text-600: #7c94b6;
    --text-700: #9dafc8;
    --text-800: #becada;
    --text-900: #dee4ed;
    --text-950: #eff2f6;

    --background-50: #0c0c0e;
    --background-100: #19181b;
    --background-200: #323036;
    --background-300: #4b4851;
    --background-400: #64606c;
    --background-500: #7d7887;
    --background-600: #97939f;
    --background-700: #b1aeb7;
    --background-800: #cbc9cf;
    --background-900: #e5e4e7;
    --background-950: #f2f1f3;

    --primary-50: #060a14;
    --primary-100: #0b1428;
    --primary-200: #17294f;
    --primary-300: #223d77;
    --primary-400: #2e519e;
    --primary-500: #3966c6;
    --primary-600: #6184d1;
    --primary-700: #88a3dd;
    --primary-800: #b0c2e8;
    --primary-900: #d7e0f4;
    --primary-950: #ebf0f9;

    --secondary-50: #0d0b0e;
    --secondary-100: #1b161d;
    --secondary-200: #352c3a;
    --secondary-300: #504356;
    --secondary-400: #6a5973;
    --secondary-500: #856f90;
    --secondary-600: #9d8ca6;
    --secondary-700: #b6a9bc;
    --secondary-800: #cec5d3;
    --secondary-900: #e7e2e9;
    --secondary-950: #f3f1f4;

    --accent-50: #0d0b0f;
    --accent-100: #1a161d;
    --accent-200: #342b3b;
    --accent-300: #4e4158;
    --accent-400: #695775;
    --accent-500: #836c93;
    --accent-600: #9c8aa8;
    --accent-700: #b4a7be;
    --accent-800: #cdc4d4;
    --accent-900: #e6e2e9;
    --accent-950: #f3f0f4;
  }
}
